<div class="col-lg-12 text-left">

	<h1>Edit your profile <strong><%= current_user.firstname %></strong></h1>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
	<%= devise_error_messages! %>
	<div class="input-group">
		<div class="field col-md-8">
			<%= f.label :email %><br />
			<%= f.email_field :email, class: "form-control", autofocus: true %>
		</div>

		<div class="field col-md-8">
			<%= f.label :firstname %><br />
			<%= f.text_field :firstname, class: "form-control" %>
		</div>

		<div class="field col-md-8">
			<%= f.label :lastname %><br />
			<%= f.text_field :lastname, class: "form-control" %>
		</div>

		<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
		<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
		<% end %>

		<div class="field col-md-8">
			<%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
			<%= f.password_field :password, class: "form-control", autocomplete: "off" %>
		</div>

		<div class="field col-md-8">
			<%= f.label :password_confirmation %><br />
			<%= f.password_field :password_confirmation, class: "form-control", autocomplete: "off" %>
		</div>

		<div class="field col-md-8">
			<%= f.label :current_password %> <i>(necessary)</i><br />
			<%= f.password_field :current_password,class: "form-control", autocomplete: "off" %>
		</div>

		<div class="actions col-md-10" style="text-align: left;">
			<br>
			<%= f.submit "Update", class: "btn btn-primary"  %>
		</div>
		<% end %>
	</div>
	
	<h3>Delete my account</h3>

	<p><%= button_to "Destroy my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,class: "btn btn-danger btn-xs" %></p>

	<%= link_to "Back", :back %>

</div>
