  <div class="page-header" id="banner">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Lots</h1>
      <p class="lead">You can see all of your lots that match your research</p>
			</p>
    </div>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">List of all your lots</h3>
  </div>
  <div class="panel-body">
        <div id="shieldui-grid1"></div>
  </div>
</div>

<!-- TO FILL THE LIST -->

<script type="text/javascript">
	jQuery(function ($) {
		var lots = [
			<% @lots.each do |lot| %>
			{
				name: "<a href=lots/<%= lot.id%>> <%= lot.name %></a>",
				description: "<%= lot.description %>",
				categorie: "<% if lot.categorie_id	%> <% categorieName = Categorie.find(lot.categorie_id).name  %> <a href=categories/<%= lot.categorie_id%>> <%= categorieName %></a><% else %> - <% end %>",
				date_buy: "<%= lot.date_buy %>".split(' ')[0],
				price_buy: "<% if lot.parent_id	%> xxx <% else %><%= lot.price_buy %><%end%>",
				date_sold: "<%= lot.date_sold %>".split(' ')[0],
				price_sold: "<%= lot.price_sold %>",
				parent_name: "<% if lot.parent_id	%> <% parentName = Lot.find(lot.parent_id).name  %> <a href=lots/<%= lot.parent_id%>> <%= parentName %></a><% else %> - <% end %>",
				created_at: "<%= lot.created_at %>".split(' ')[0],
				edit:"<a href=lots/<%= lot.id%>/edit>Edit "},
			<% end %>
		];

			$("#shieldui-grid1").shieldGrid({
			dataSource: {
			data: lots
			},
			sorting: {
			multiple: true
			},
			rowHover: false,
			paging: {
			pageSize:15
			},
			columns: [
			{ field: "name", title: "Name" },
			{ field: "categorie", title: "Categorie" },                
			{ field: "description", title: "Description" },
			{ field: "date_buy", title: "Buy Date", format: "{0:MM/dd/yyyy}" },
			{ field: "price_buy", title: "Buy Price",format: "{0} $" },
			{ field: "date_sold", title: "Sold Date",format: "{0:MM/dd/yyyy}" },
			{ field: "price_sold", title: "Sold Price",format: "{0} $" },
			{ field: "parent_name", title: "Parent" },
			{ field: "created_at", title: "Created at",format: "{0:dd/mm/yyyy}" },
			{ field: "edit", width:"60px", title: "Edit" },
		],

				});        
	});        
	/*function EditRow() {
    $("#shieldui-grid1").swidget().editRow(0); // puts second row in edit mode.
}*/
</script>