<table>
	<tr>
		<th> Catégories </th>
	</tr>
	<% @categories.each do |categorie| %>
	<tr>
		<td><%= categorie.id %></td>
		<td><%= categorie.name %></td>
	</tr>
	<% end %>

	<h1> Add categorie </h1>
	<%= form_for @categorie do |f| %>
	<p>
		<%= collection_select(:video, :category_id, @categories, :id, :name)%>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.submit %>
	</p>
	<% end %>

</table>