<!DOCTYPE html>
<html>
  <head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">

    <title>Bought'n'Sold</title>    

    <!-- BOOTSTRAP -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
 
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Bought'n'Sold</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home">Home</a></li>
            <li class="active"><a href="/lots">Lots</a></li>
            <li class="active"><a href="/graphics">Graphics</a></li>
            <li class="active"><a href="/about">About</a></li>
          </ul>
					
					<div class="navbar-form navbar-right">
						<div class="form-group" id="search">
							<%= render :partial => 'lots/search' %>
						</div>
					</div>
					
          <!-- RIGHT PART OF THE NAVBAR -->
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <% if user_signed_in? %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><strong><%= current_user.email %></strong><span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">  
								<li><%= link_to " Edit your profile", edit_user_registration_path, :class => 'navbar-link fa'  %></li>
                <li class="divider"></li>
                <li><%= link_to " Logout", destroy_user_session_path, method: :delete, :class => 'fa fa-power-off'  %></li>
              </ul>
              <% else %>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Authentication <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link fa'  %></li>
                <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link fa'  %></li>
              </ul>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <%= yield %>

    <footer>
      <small>© HE-ARC 2015</small>
    </footer>
    </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
